<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Userprofile</title>
  </head>
  <body>
    <h1>Profile of <%= profile['name'] %></h1>
    <p>Posts: <%= profile['posts_count'] %></p>
    <p>Bday: <%= profile['bday'] %></p>
    <p>Joined: <%= profile['acc_created'] %></p>
    <p>About: <%= profile['about'] %></p>

    <% posts.forEach(element => { %>
    <div class="post">
      <h4><%= element['title'] %></h4>
      <p><%= element['content'] %></p>
    </div>
    <% }) %>
    <button><a href="/">Go back</a></button>
  </body>
</html>
